
#warning-message{

    position: fixed;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
 transform: translate(-50%, -50%);
 font-size: 1.3rem 
/*    margin-left: -50px;  margin is -0.5 * dimension 
    margin-top: -25px; 
​*/
}

html, body {
    overflow: hidden;
}


#firstPage { /* setting and positioning background */
	/*background-image: url("../images/kobe.jpeg");*/
	background-repeat: no-repeat;
	background-position: 50% -50%;
	background-size: 450px 320px;
	background-color: hsla(0,0%,10%,1);
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: 'ProximaNova-Regular.otf';
}

.kobe {
	position: 50% 50%;
	width: 50%;
	height: 50%;
	margin-top: 75px;
}
/* position start button */
.btn-area {
	text-align: center;
	/*margin-top: 320px;*/
}
/* style start button */
.start-btn[type="submit"] {
	background-color: hsla(40, 80%, 50%, 1);
	/*font-color: black;*/
	border-radius: 28px;
	border-radius: 28px;
	border: 1px solid black;
	color: black;
	padding: 11px 20px;
	text-decoration: none;
	text-transform: uppercase;
	/*text-shadow: 0px 1px 0px #2f6627;*/
}

#canvasDiv {
	position: relative;
/*	width: 1270px 
	height: 800px*/
}

#ballArea {
	z-index: 2;
	position: absolute;
	width: 100%;
}

#backCanvas {
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100vh;

}


